In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC 
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_regression, make_swiss_roll
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.svm import SVR

In [2]:
df = pd.read_csv("tedsd_puf_2019.csv")
df.head()

,DISYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,LOS,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2019,20191553576,2,-9,4,1,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,1
1,2019,20191465214,2,-9,3,1,7,-9,35,1,...,0,0,0,0,0,0,9,4,0,3
2,2019,20191443889,2,-9,2,1,7,-9,35,1,...,0,0,0,0,0,0,9,4,0,3
3,2019,20191409377,2,-9,3,1,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,3
4,2019,20191479567,2,-9,3,3,7,-9,37,1,...,0,0,0,0,0,0,9,4,0,1

In [3]:
df1 = df.copy()
# from conversation with "house of Hope recovery" class 4 which is "transfer to a different facility" would also be considered a success.
for value in df1['REASON']:
    if value == 1:
        value = value
    elif value == 4:
        value = 1
    else:
        value = 0
df1['REASON'] = df1['REASON'].replace(4, 1)
df1['REASON'] = df1['REASON'].replace(2, 0)
df1['REASON'] = df1['REASON'].replace(3, 0)
df1['REASON'] = df1['REASON'].replace(5, 0)
df1['REASON'] = df1['REASON'].replace(6, 0)
df1['REASON'] = df1['REASON'].replace(7, 0)
df1['REASON'].value_counts()

REASON
1    1095432
0     627071
Name: count, dtype: int64

In [4]:
# time to clean up the data starting with SUB1_D 
# alcohol could be a success, mmj could be a success
for value in df1['SUB1_D']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
df1['SUB1_D'] = df1['SUB1_D'].replace(14, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(16, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(18, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(12, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(13, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(2, 1)
df1['SUB1_D'] = df1['SUB1_D'].replace(3, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(4, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(5, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(6, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(7, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(8, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(9, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(10, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(11, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(15, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(17, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(19, 0)

df1['SUB1'] = df1['SUB1'].replace(14, 1)
df1['SUB1'] = df1['SUB1'].replace(16, 1)
df1['SUB1'] = df1['SUB1'].replace(18, 1)
df1['SUB1'] = df1['SUB1'].replace(12, 1)
df1['SUB1'] = df1['SUB1'].replace(13, 1)
df1['SUB1'] = df1['SUB1'].replace(2, 1)
df1['SUB1'] = df1['SUB1'].replace(3, 0)
df1['SUB1'] = df1['SUB1'].replace(4, 0)
df1['SUB1'] = df1['SUB1'].replace(5, 0)
df1['SUB1'] = df1['SUB1'].replace(6, 0)
df1['SUB1'] = df1['SUB1'].replace(7, 0)
df1['SUB1'] = df1['SUB1'].replace(8, 0)
df1['SUB1'] = df1['SUB1'].replace(9, 0)
df1['SUB1'] = df1['SUB1'].replace(10, 0)
df1['SUB1'] = df1['SUB1'].replace(11, 0)
df1['SUB1'] = df1['SUB1'].replace(15, 0)
df1['SUB1'] = df1['SUB1'].replace(17, 0)
df1['SUB1'] = df1['SUB1'].replace(19, 0)

df1['SUB2_D'] = df1['SUB2_D'].replace(14, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(16, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(18, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(12, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(13, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(2, 1)
df1['SUB2_D'] = df1['SUB2_D'].replace(3, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(4, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(5, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(6, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(7, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(8, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(9, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(10, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(11, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(15, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(17, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(19, 0)

df1['SUB2'] = df1['SUB2'].replace(14, 1)
df1['SUB2'] = df1['SUB2'].replace(16, 1)
df1['SUB2'] = df1['SUB2'].replace(18, 1)
df1['SUB2'] = df1['SUB2'].replace(12, 1)
df1['SUB2'] = df1['SUB2'].replace(13, 1)
df1['SUB2'] = df1['SUB2'].replace(2, 1)
df1['SUB2'] = df1['SUB2'].replace(3, 0)
df1['SUB2'] = df1['SUB2'].replace(4, 0)
df1['SUB2'] = df1['SUB2'].replace(5, 0)
df1['SUB2'] = df1['SUB2'].replace(6, 0)
df1['SUB2'] = df1['SUB2'].replace(7, 0)
df1['SUB2'] = df1['SUB2'].replace(8, 0)
df1['SUB2'] = df1['SUB2'].replace(9, 0)
df1['SUB2'] = df1['SUB2'].replace(10, 0)
df1['SUB2'] = df1['SUB2'].replace(11, 0)
df1['SUB2'] = df1['SUB2'].replace(15, 0)
df1['SUB2'] = df1['SUB2'].replace(17, 0)
df1['SUB2'] = df1['SUB2'].replace(19, 0)

df1['SUB3_D'] = df1['SUB3_D'].replace(14, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(16, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(18, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(12, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(13, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(2, 1)
df1['SUB3_D'] = df1['SUB3_D'].replace(3, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(4, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(5, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(6, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(7, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(8, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(9, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(10, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(11, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(15, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(17, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(19, 0)

df1['SUB3'] = df1['SUB3'].replace(14, 1)
df1['SUB3'] = df1['SUB3'].replace(16, 1)
df1['SUB3'] = df1['SUB3'].replace(18, 1)
df1['SUB3'] = df1['SUB3'].replace(12, 1)
df1['SUB3'] = df1['SUB3'].replace(13, 1)
df1['SUB3'] = df1['SUB3'].replace(2, 1)
df1['SUB3'] = df1['SUB3'].replace(3, 0)
df1['SUB3'] = df1['SUB3'].replace(4, 0)
df1['SUB3'] = df1['SUB3'].replace(5, 0)
df1['SUB3'] = df1['SUB3'].replace(6, 0)
df1['SUB3'] = df1['SUB3'].replace(7, 0)
df1['SUB3'] = df1['SUB3'].replace(8, 0)
df1['SUB3'] = df1['SUB3'].replace(9, 0)
df1['SUB3'] = df1['SUB3'].replace(10, 0)
df1['SUB3'] = df1['SUB3'].replace(11, 0)
df1['SUB3'] = df1['SUB3'].replace(15, 0)
df1['SUB3'] = df1['SUB3'].replace(17, 0)
df1['SUB3'] = df1['SUB3'].replace(19, 0)
# df1['SUB1_D'].notna().value_counts()
# time to clean up the data starting with SUB1 
# alcohol could be a success, mmj could be a success, using the same values for SUB1_D
for value in df1['SUB1']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
for value in df1['SUB2_D']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
# df1['SUB1_D'].notna().value_counts()
# time to clean up the data starting with SUB1 
# alcohol could be a success, mmj could be a success, using the same values for SUB1_D
for value in df1['SUB2']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
for value in df1['SUB3_D']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
# df1['SUB1_D'].notna().value_counts()
# time to clean up the data starting with SUB1 
# alcohol could be a success, mmj could be a success, using the same values for SUB1_D
for value in df1['SUB3']:
    if value == 1 or value == 14 or value == 16 or value == 18 or value == 12 or value == 13 or value == 2:
        value = 1
    else:
        value = 0
df1['SUB1'] = df1['SUB1'].replace(-9, 0)
df1['SUB1_D'] = df1['SUB1_D'].replace(-9, 0)
df1['SUB2'] = df1['SUB2'].replace(-9, 0)
df1['SUB2_D'] = df1['SUB2_D'].replace(-9, 0)
df1['SUB3'] = df1['SUB3'].replace(-9, 0)
df1['SUB3_D'] = df1['SUB3_D'].replace(-9, 0)
print(df1['SUB1'].value_counts())
print(df1['SUB1_D'].value_counts())
print(df1['SUB2'].value_counts())
print(df1['SUB2_D'].value_counts())
print(df1['SUB3'].value_counts())
print(df1['SUB3_D'].value_counts())

# df1['SUB1_D'].notna().value_counts()
# # In column SUB2 replace -9 with 19
df1['SUB2'] = df1['SUB2'].replace(-9, 19)
# print(df1['SUB2'].value_counts())
# # In column SUB2_D replace -9 with 19
# # df1['SUB2_D'] = df1['SUB2_D'].replace(-9, 19)
# print(df1['SUB2_D'].value_counts())
# # In column SUB3 replace -9 with 19
# # df1['SUB3'] = df1['SUB3'].replace(-9, 19)
# print(df1['SUB3'].value_counts())
# # In column SUB3_D replace -9 with 0
# # df1['SUB3_D'] = df1['SUB3_D'].replace(-9, 0)
# print(df1['SUB3_D'].value_counts())

SUB1
0    1145410
1     577093
Name: count, dtype: int64
SUB1_D
0    1153301
1     569202
Name: count, dtype: int64
SUB2
1    959459
0    763044
Name: count, dtype: int64
SUB2_D
1    990170
0    732333
Name: count, dtype: int64
SUB3
1    1278583
0     443920
Name: count, dtype: int64
SUB3_D
1    1403980
0     318523
Name: count, dtype: int64

In [5]:
# time to clean up the data with FREQ1_D, FREQ2_D, FREQ3_D
# replacing -9 in the columns with 1 since 1 indicates 'no use' and if data was missing we assumed it was irrelivent to begin with
df1['FREQ1_D'] = df1['FREQ1_D'].replace(-9, 1)
df1['FREQ2_D'] = df1['FREQ2_D'].replace(-9, 1)
df1['FREQ3_D'] = df1['FREQ3_D'].replace(-9, 1)

In [6]:
# time to clean up the data with FREQ1, FREQ2, FREQ3
# replacing -9 in the columns with 1 since 1 indicates 'no use' and if data was missing we assumed it was irrelivent to begin with
df1['FREQ1'] = df1['FREQ1'].replace(-9, 1)
df1['FREQ2'] = df1['FREQ2'].replace(-9, 1)
df1['FREQ3'] = df1['FREQ3'].replace(-9, 1)

In [7]:
# time to clean up the data with 'CASEID'
df1['CASEID'].notna().value_counts()
# CASEID has no null values and does need info filled
# we can drop this field
df1 = df1.drop(columns="CASEID")

In [8]:
# time to clean up the data with 'AGE'
df1['AGE'].notna().value_counts()
# AGE has no null values and does need info filled

AGE
True    1722503
Name: count, dtype: int64

In [9]:
# time to clean up the data with 'GENDER'
# gender is not a columns where we can fill in the data and not decrease the accuracy. so for all -9 values I am replacing with 0
df1['GENDER'] = df1['GENDER'].replace(-9, 0)
df1['GENDER'].notna().value_counts()

GENDER
True    1722503
Name: count, dtype: int64

In [10]:
# time to clean up the data with 'DISYR'
df1['DISYR'].notna().value_counts()
# DISYR has no null values and does need info filled
# drop this column
df1 = df1.drop(columns="DISYR")

In [11]:
# time to clean up the data with 'RACE'
# for race, '7' indicateds 'other single race  so for all -9 values i replaces them with 7
df1['RACE'] = df1['RACE'].replace(-9, 7)
df1['RACE'].notna().value_counts()

RACE
True    1722503
Name: count, dtype: int64

In [12]:
# time to clean up the data with 'ETHNIC'
# for ETHNIC, '4' indicateds 'other single race  so for all -9 values I replaced them with 4
df1['ETHNIC'] = df1['ETHNIC'].replace(-9, 4)
df1['ETHNIC'].notna().value_counts()

ETHNIC
True    1722503
Name: count, dtype: int64

In [13]:
# time to clean up the data with 'MARSTAT'
# for MARSTAT, hard to determine what to fill -9 with so filling with 0 for now
df1['MARSTAT'] = df1['MARSTAT'].replace(-9, 0)
df1['MARSTAT'].notna().value_counts()

MARSTAT
True    1722503
Name: count, dtype: int64

In [14]:
# time to clean up the data with 'EDUC'
# for EDUC, hard to determine what to fill -9 with. options are 1-5 so filling with 2 as it seems like a fair average
df1['EDUC'] = df1['EDUC'].replace(-9, 2)
df1['EDUC'].notna().value_counts()

EDUC
True    1722503
Name: count, dtype: int64

In [15]:
# time to clean up the data with 'EMPLOY' and 'EMPLOY_D'
# for EMPLOY, hard to determine what to fill -9 with. options are 1-4. filling with 2 for now since if the data is missing is seems like that would indicate 'unemployed'
df1['EMPLOY'] = df1['EMPLOY'].replace(-9, 0)
df1['EMPLOY_D'] = df1['EMPLOY_D'].replace(-9, 0)
df1['EMPLOY'].notna().value_counts()

EMPLOY
True    1722503
Name: count, dtype: int64

In [16]:
# time to clean up the data with 'DETNLF' and 'DETNLF_D'
# for DETNLF, its just details on the previous columns not in labor force option so im replacing missing values with 0 as to not affect the results as much. we may want to drop this column
# df1['DETNLF'] = df1['DETNLF'].replace(-9, 0)
# df1['DETNLF_D'] = df1['DETNLF_D'].replace(-9, 0)
# df1['DETNLF'].notna().value_counts()
# drop this column
df1 = df1.drop(columns="DETNLF")
df1 = df1.drop(columns="DETNLF_D")

In [17]:
# time to clean up the data with 'PREG'
# for PREG, -9 most likely indicates male patients. replacing with 0 as to not affect the results as much. 
df1['PREG'] = df1['PREG'].replace(-9, 2)
df1['PREG'].notna().value_counts()

PREG
True    1722503
Name: count, dtype: int64

In [18]:
# time to clean up the data with 'VET'
# for VET, -9 most likely indicates not a veteren so im replacing -9 with 2 for 'no'
df1['VET'] = df1['VET'].replace(-9, 2)
df1['VET'].value_counts()

VET
2    1679845
1      42658
Name: count, dtype: int64

In [19]:
# time to clean up the data with 'LIVARAG'
# for LIVARAG, its hard to determine what -9 could indicate so im replacing -9 with 0 as to not affect the data as much with the -9's in this column
df1['LIVARAG'] = df1['LIVARAG'].replace(-9, 1)
df1['LIVARAG_D'] = df1['LIVARAG_D'].replace(-9, 1)
df1['LIVARAG'].value_counts()

LIVARAG
3    1013787
1     436264
2     272452
Name: count, dtype: int64

In [20]:
# time to clean up the data with 'PRIMINC'
# for PRIMINC, its hard to determine what -9 could indicate so im replacing -9 with 0 as to not affect the data as much with the -9's in this column
df1['PRIMINC'] = df1['PRIMINC'].replace(-9, 4)
df1['PRIMINC'].value_counts()

PRIMINC
4    855478
5    397327
1    312986
2     81605
3     75107
Name: count, dtype: int64

In [21]:
# time to clean up the data with 'ARRESTS' and 'ARRESTS_D'
# for 'ARRESTS' and 'ARRESTS_D', 0 indicates none so im setting -9 to none as that seems most likely to be the case if the information is missing
df1['ARRESTS'] = df1['ARRESTS'].replace(-9, 0)
df1['ARRESTS_D'] = df1['ARRESTS_D'].replace(-9, 0)
df1['ARRESTS'].value_counts()
df1['ARRESTS_D'].value_counts()

ARRESTS_D
0    1643399
1      61908
2      17196
Name: count, dtype: int64

In [22]:
# time to clean up the data with ' STFIPS'
# for ' STFIPS', there are no null values in this column but we may want to remove it because the large values could through the accuracy off
df1['STFIPS'].notna().value_counts()
# drop this column
df1 = df1.drop(columns="STFIPS")

In [23]:
# time to clean up the data with 'REGION'
# for 'REGION', there are no null values in this column but we may want to remove it because the values could through the accuracy off and it doesnt seem to be relevant data
df1['REGION'].value_counts()

REGION
1    532413
3    505555
4    378260
2    303497
0      2778
Name: count, dtype: int64

In [24]:
# time to clean up the data with 'DIVISION'
# for 'DIVISION', there are no null values in this column but we may want to remove it because the values could through the accuracy off and it doesnt seem to be relevant data
df1['DIVISION'].value_counts()

DIVISION
2    372934
5    331617
8    229376
1    159479
4    152327
3    151170
9    148884
6    100660
7     73278
0      2778
Name: count, dtype: int64

In [25]:
# time to clean up the data with 'SERVICES and SERVICES_D'
# for 'SERVICES and SERVICES_D', there are no null values in this column but we may want to remove it because the values could through the accuracy off and it doesnt seem to be relevant data for the questions we are trying to answer
df1['SERVICES'].value_counts()
df1['SERVICES_D'].value_counts()

SERVICES_D
7    884266
2    240303
6    235771
4    179737
5    121470
1     43446
8     13267
3      4243
Name: count, dtype: int64

In [26]:
# time to clean up the data with 'DAYWAIT'
# for 'DAYWAIT', its seems safe to replace a value of missing data with a value of '0' to indicate that they didnt wait
df1['DAYWAIT'] = df1['DAYWAIT'].replace(-9, 0)
df1['DAYWAIT'].value_counts()

DAYWAIT
0    1469735
1     175018
2      34722
3      26618
4      16410
Name: count, dtype: int64

In [27]:
# time to clean up the data with 'METHUSE'
# for 'METHUSE', its seems safe to replace a value of missing data with a value of 'none'
df1['METHUSE'] = df1['METHUSE'].replace(-9, 0)
df1['METHUSE'].value_counts()

METHUSE
2    1327459
1     216239
0     178805
Name: count, dtype: int64

In [28]:
# time to clean up the data with 'LOS'
# for 'LOS', stands for length of stay this data seems irrelivent to the questions we are trying to answer so I suggest dropping the column to perserve prediction accuracy
# 1-30, 31-45, 46-60, 61-90, 91-120, 121-180, 181-365, more than
def los_to_category(days):
    if days <= 30:
        return 1
    elif days <= 31:
        return 2
    elif days <= 32:
        return 3
    elif days <= 33:
        return 4
    elif days <= 34:
        return 5
    elif days <= 35:
        return 6
    elif days <= 36:
        return 7
    else:
        return 8
# Test cases

# df1['LOS'].value_counts()

In [29]:
print(los_to_category(15))  # Expected output: 1
print(los_to_category(35))  # Expected output: 2
print(los_to_category(50))  # Expected output: 3
print(los_to_category(70))  # Expected output: 4
print(los_to_category(100))  # Expected output: 5
print(los_to_category(150))  # Expected output: 6
print(los_to_category(200))  # Expected output: 7
print(los_to_category(400))  # Expected output: 8
print(los_to_category(-5))  # Expected output: None

1
6
8
8
8
8
8
8
1

In [30]:
df1['LOS'] = df1['LOS'].apply(los_to_category)

In [31]:
df1['LOS'].value_counts()

LOS
1    934659
4    140555
7    128974
5    114387
6    114266
2    111830
8     93500
3     84332
Name: count, dtype: int64

In [32]:
# time to clean up the data with PSOURCE: Referral source
# for 'PSOURCE' this doesnt seem to me to be relevant data so im replacing -9 with 1 for now to indicate that it was self motivated
df1['PSOURCE'] = df1['PSOURCE'].replace(-9, 1)

In [33]:
# time to clean up the data with DETCRIM: Detailed criminal justice referral
# for 'DETCRIM' im replacing -9 with 0 for now. most of this data is missing. we may want to drop this column
df1['DETCRIM'] = df1['DETCRIM'].replace(-9, 0)
# drop this column
df1 = df1.drop(columns="DETCRIM")

In [34]:
# time to clean up the data with NOPRIOR: Previous substance use treatment episodes
# for 'NOPRIOR' im replacing -9 with 0 for now. its could go either way. we will ask clients
df1['NOPRIOR'] = df1['NOPRIOR'].replace(-9, 0)

In [35]:
# time to clean up the data with ROUTE1: Route of administration (primary)
# time to clean up the data with ROUTE2: Route of administration (secondary)
# time to clean up the data with ROUTE3: Route of administration (tertiary)
# for 'ROUTE1' im replacing -9 with 5 for now to indicate 'other'. its could go either way. we will ask clients
df1['ROUTE1'] = df1['ROUTE1'].replace(-9, 5)
df1['ROUTE2'] = df1['ROUTE2'].replace(-9, 5)
df1['ROUTE3'] = df1['ROUTE3'].replace(-9, 5)

In [36]:
# time to clean up the data with FRSTUSE1: Age at first use (primary)
# FRSTUSE1 is a column where its hard to determine what a value of -9 should be replaced with so im replacing it with 0 for now to have less of an impact on the data
df1['FRSTUSE1'] = df1['FRSTUSE1'].replace(-9, 3)
# adding Beau's code
# In column FRSTUSE2 replace -9 with 0
df1['FRSTUSE2'] = df1['FRSTUSE2'].replace(-9, 3)
print(df1['FRSTUSE2'].value_counts())
# In column FRSTUSE3 replace -9 with 0
df1['FRSTUSE3'] = df1['FRSTUSE3'].replace(-9, 3)
print(df1['FRSTUSE3'].value_counts())

FRSTUSE2
3    1067078
2     170892
4     153705
7     103384
5      95617
6      78339
1      53488
Name: count, dtype: int64
FRSTUSE3
3    1464306
2      78630
4      57055
7      37209
5      32205
6      27655
1      25443
Name: count, dtype: int64

In [37]:
# In column SUB2 replace -9 with 19
df1['SUB2'] = df1['SUB2'].replace(-9, 19)
print(df1['SUB2'].value_counts())
# In column SUB2_D replace -9 with 19
df1['SUB2_D'] = df1['SUB2_D'].replace(-9, 19)
print(df1['SUB2_D'].value_counts())

SUB2
1    959459
0    763044
Name: count, dtype: int64
SUB2_D
1    990170
0    732333
Name: count, dtype: int64

In [38]:
# In column SUB3 replace -9 with 19
df1['SUB3'] = df1['SUB3'].replace(-9, 19)
print(df1['SUB3'].value_counts())
# In column SUB3_D replace -9 with 0
df1['SUB3_D'] = df1['SUB3_D'].replace(-9, 0)
print(df1['SUB3_D'].value_counts())

SUB3
1    1278583
0     443920
Name: count, dtype: int64
SUB3_D
1    1403980
0     318523
Name: count, dtype: int64

In [39]:
# In column ROUTE3 replace -9 with 0
df1['ROUTE3'] = df1['ROUTE3'].replace(-9, 0)
print(df1['ROUTE3'].value_counts())

ROUTE3
5    1365958
2     154215
1     122303
3      48044
4      31983
Name: count, dtype: int64

In [40]:
# In column DSMCRIT replace -9 with 0
df1['DSMCRIT'] = df1['DSMCRIT'].replace(-9, 5)
print(df1['DSMCRIT'].value_counts())

DSMCRIT
5     790823
4     289535
8     143441
19    125445
7      82105
6      56213
9      52972
2      40101
10     39565
3      29130
11     23297
12     17972
1      12628
13      7786
15      5239
17      2246
14      2181
16      1490
18       334
Name: count, dtype: int64

In [41]:
# In column PSYPROB replace -9 with 1
df1['PSYPROB'] = df1['PSYPROB'].replace(-9, 1)
print(df1['PSYPROB'].value_counts())

PSYPROB
1    899280
2    823223
Name: count, dtype: int64

In [42]:
# In column PRIMPAY replace -9 with 1
df1['PRIMPAY'] = df1['PRIMPAY'].replace(-9, 1)
print(df1['PRIMPAY'].value_counts())

PRIMPAY
1    1038444
4     389616
5     162022
7      49127
2      44071
6      20758
3      18465
Name: count, dtype: int64

In [43]:
# In column FREQ_ATND_SELF_HELP replace -9 with 0
df1['FREQ_ATND_SELF_HELP'] = df1['FREQ_ATND_SELF_HELP'].replace(-9, 3)
print(df1['FREQ_ATND_SELF_HELP'].value_counts())
# In column FREQ_ATND_SELF_HELP_D replace -9 with 0
df1['FREQ_ATND_SELF_HELP_D'] = df1['FREQ_ATND_SELF_HELP_D'].replace(-9, 3)
print(df1['FREQ_ATND_SELF_HELP_D'].value_counts())

FREQ_ATND_SELF_HELP
1    1037604
3     389036
4     126267
2     104522
5      65074
Name: count, dtype: int64
FREQ_ATND_SELF_HELP_D
1    859331
3    452977
4    186509
2    115895
5    107791
Name: count, dtype: int64

In [44]:
reason = df1['REASON']
df1_corr = df1.corr()
df1_corr.unstack().sort_values()
variable = df1_corr['REASON'].sort_values()
variable.tail(20)

ALCFLG       0.025359
LIVARAG_D    0.026111
FREQ1_D      0.029926
HLTHINS      0.032940
ROUTE3       0.036662
EMPLOY_D     0.040257
ETHNIC       0.057235
SUB1_D       0.066446
PRIMPAY      0.067499
AGE          0.068791
ROUTE2       0.071289
SUB1         0.073811
SUB2         0.080155
SUB3_D       0.088915
METHUSE      0.096050
SUB3         0.102280
DIVISION     0.128182
SUB2_D       0.136620
REGION       0.153238
REASON       1.000000
Name: REASON, dtype: float64

In [45]:
# new dataframe with only the top correlated farctors left
trimmed = df1[['SUB1_D', 'FREQ1_D', 'ARRESTS', 'ARRESTS_D', 'LIVARAG', 'EMPLOY_D', 'LIVARAG_D', 'EDUC', 'SUB1', 'FREQ_ATND_SELF_HELP', 'EMPLOY', 'ROUTE1', 'IDU', 'SERVICES', 'SERVICES_D', 'VET', 'FRSTUSE1', 'MARSTAT', 'REASON']]

In [46]:
y = df1["REASON"]
X = df1.copy()
X = X.drop(columns="REASON")
X = pd.DataFrame(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = MinMaxScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data = [X_train_scaled, X_test_scaled, y_train, y_test]

In [47]:
def test_model(model, data):
    X_train_scaled, X_test_scaled, y_train, y_test = data
    reg = model.fit(X_train_scaled, y_train)
    print(f'Model: {type(reg).__name__}')
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')
    plt.show()

In [48]:
# test_model(LinearRegression(), data)
# test_model(KNeighborsRegressor(), data)
test_model(RandomForestRegressor(), data)
test_model(ExtraTreesRegressor(), data)
# test_model(AdaBoostRegressor(), data)
# test_model(SVR(C=1.0, epsilon=0.2), data)

Model: LinearRegression
Train score: 0.1820472417433483
Test Score: 0.18229784593246867

Model: KNeighborsRegressor
Train score: 0.5484424945764218
Test Score: 0.3135207736949889

Model: RandomForestRegressor
Train score: 0.926780461064927
Test Score: 0.4983952966864844

Model: ExtraTreesRegressor
Train score: 0.9953213845787849
Test Score: 0.5015936690426299

Model: AdaBoostRegressor
Train score: 0.17502851311555667
Test Score: 0.17721880330641393

:

In [ ]:
y = df1["REASON"]
X = df1.copy()
X = X.drop(columns="REASON")
X = pd.DataFrame(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
data = [X_train_scaled, X_test_scaled, y_train, y_test]

HLTHINS    -0.106469
PRIMINC    -0.098816
LOS        -0.084553
ALCFLG     -0.078218
PRIMPAY    -0.059634
AGE        -0.051736
DETNLF     -0.051458
CASEID     -0.042650
DIVISION   -0.030955
DAYWAIT    -0.014194
DETCRIM    -0.006041
BARBFLG    -0.003555
DSMCRIT    -0.002691
METHUSE    -0.001831
TRNQFLG     0.002683
INHFLG      0.003850
OTCFLG      0.005075
PCPFLG      0.006215
HALLFLG     0.007157
REGION      0.009529
Name: REASON, dtype: float64

In [ ]:
test_model(RandomForestRegressor(), data)
test_model(ExtraTreesRegressor(), data)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
logistic_regression_model = ExtraTreesRegressor()
logistic_regression_model.fit(X_train_scaled, y_train)
train = (f"Training Data Score: {logistic_regression_model.score(X_train_scaled, y_train)}")
test = (f"Testing Data Score: {logistic_regression_model.score(X_test_scaled, y_test)}")
testing_predictions = logistic_regression_model.predict(X_test)
print(accuracy_score(y_test, testing_predictions))